parameters:
    level: max
    paths:
        - src
    tmpDir: var
    ignoreErrors:
            -
                identifiers:
                    - varTag.nativeType # see src/Domain/Ffmpeg.php
                    - cast.double
